*{
    margin: 0px;
    padding: 0px;
}
.container{
    background-color: black;
    color: white;
    padding: 30px;
    line-height: 35px;
    border-radius: 10px;
}
body{
    background-color:red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    font-weight: 900;
    margin: 30px;
}
button{
    background-color:white;
    color:black;
    scrollbar-highlight-color:white;
    cursor: pointer;
    font-size: medium;
    font-weight: 700;
    font-style: oblique;
}
.container1{
    margin-top: 10px;
}
.main_container{
    display: flex;   
    margin-top: 15px;
    gap: 10px;
}
.sub_container1{
   padding: 15px;
   background-color: yellow;
   border-radius: 10px;

}

.sub_container2{
    padding: 15px;
    background-color: #44ff44;
    border-radius: 10px;
    margin: 10px;
}
 
.sub_container1 h1{
    color: red;
    margin-bottom: 10px;

}
.sub_container2 h2{
    color: yellow;
    margin: 10px;
}

.end-part{
    background-color: black;
    color: white;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}
.btn:hover{
    background-color: black;
    border: solid 2px yellow;
}
